<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <br><br>
            <h2 style="color:#0fad00">Success</h2>
            <h3>{{email}}</h3>
            <p style="font-size:20px;color:#5C5C5C;">Thank you for purchasing <strong>{{product}}</strong> for <strong>$ {{amount}}</strong>.</p>
            <br>
            <p>Stripe Charge ID: <strong>{{id}}</strong></p>
            <br>
        </div>

    </div>
</div>
